.digitalContainer {
    font-family: 'Montserrat', sans-serif;
}

.digitalNumbers {
    font-size: 4rem;
    letter-spacing: 4px;
}

.amPm {
    font-size: 12px;
}

.timer {
    font-size: 2rem;
    animation: blink 2s steps(1) infinite;
    padding: 0 4px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}